@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  margin: 0;
  height: 100vh;
  font-family: 'Fira Code';
}

div.console {
  height: 100%;
  display: grid;
  gap: 0;
  grid-template-columns: 4rem 1fr 4rem;
  background-color: rgb(48, 48, 48);
}

div.console div.room {
  padding: 1rem;
  color: gainsboro;
  background-color: black;
  overflow-y: auto;
}

div.console div.room p {
  max-width: 80ch;
  margin: 0.3rem 0;
}

div.console div.room p:first-child {
  margin-block-start: 0;
}

div.console div.room p:last-child {
  margin-block-end: 0;
}

div.console div.room p.title {
  color: whitesmoke;
}

div.console div.room p.look {
  color: rgb(133, 133, 120);
}

div.console div.room p.exits {
  color: whitesmoke;
}

div.console div.room p.item {
  color: rgb(207, 207, 33);
}

div.console div.room p.hero {
  color: rgb(207, 34, 207);
}

div.console div.controls {
  height: 100%;
  box-sizing: border-box;
  padding: 0.5rem 0;
  overflow-y: overlay;
  overflow-x: hidden;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
}

div.console div.controls button {
  background-color: transparent;
  border: 2px solid rgb(72, 72, 72);
  color: gray;
  padding: 0;
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) and (pointer: fine) {
  div.console div.controls button:hover {
    background-color: rgb(72, 72, 72);
    color: gainsboro;
  }
}

div.console div.controls button:active {
  background-color: rgb(64, 64, 64);
}

@media screen and (orientation: portrait) {
  div.console {
    grid-template-columns: auto;
    grid-template-rows: 4rem 1fr 4rem;
  }

  div.console div.controls {
    padding: 0 0.5rem;
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
